[database]
host = localhost
port = 3306
name = thermostat
user = thermostat
password = hackme

[django]
secret_key = hackme
allowed_hosts = localhost

[celery]
broker_url = amqp://
result_backend = amqp://
