{% load staticfiles %}

<!doctype html>
<html lang="us">
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>
  
    <link href="{% static "css/thermostat.css" %}" rel="stylesheet">
  
    <link href="{% static "css/jquery-ui-1.10.4.custom.min.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "js/jquery-ui-1.10.4.custom.min.js" %}"></script>
  </head>
  <body>
    <div>Thermostat</div>
    {% for form in forms %}
      <form action="/forms/update_thermostat/{{ form.instance.pk }}" method="post">
        {% csrf_token %}
        {{ form.instance.sensor.temperature }}
        {{ form.as_p }}
        <input type="submit" value="Submit">
      </form>
    {% endfor %}
  </body>
</html>
