[database]
host = localhost
port = 3306
name = pimostat
user = pimostat
password = hackme

[django]
secret_key = hackme
allowed_hosts = localhost

[celery]
broker_url = redis://
result_backend = redis://
testing_without_hardware = false
