{% load staticfiles %}

<!doctype html>
<html lang="us">
  <head>
    <meta charset="utf-8">
    <title>Pimostat</title>
    <link href="{% static "css/pimostat.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript"
        src="{% static "omnibus/omnibus.min.js" %}"></script>
  </head>
  <body>
    <h1>Pimostat</h1>
    <form action="/forms/update_thermostat" method="post">
      {% csrf_token %}
      {{ thermostat_formset.management_form }}
      {% for form in thermostat_formset %}
        {{ form.id }}
        <div>
          <h2>{{ form.instance.name }}</h2>
          <table>
            <tr>
              <td>
                Current temperature ({{ form.instance.sensor.name }}):
              </td>
              <td class="sensor-{{ form.instance.sensor.pk }}-temperature">
                {{ form.instance.sensor.temperature }}
              </td>
            </tr>
            <tr>
              <td>
                Replay actuated ({{ form.instance.relay.name }}):
              </td>
              <td class="relay-{{ form.instance.relay.pk }}-actuated">
                {{ form.instance.relay.actuated }}
              </td>
            </tr>
            <tr>
              <td>
                Desired temperature:
              </td>
              <td id="desired-temperature-{{ form.instance.pk }}">
                {{ form.desired_temperature }}
              </td>
            </tr>
            <tr>
              <td>
                Upper deviation:
              </td>
              <td id="upper-deviation-{{ form.instance.pk }}">
                {{ form.upper_deviation }}
              </td>
            </tr>
            <tr>
              <td>
                Lower deviation:
              </td>
              <td id="lower-deviation-{{ form.instance.pk }}">
                {{ form.lower_deviation }}
              </td>
            </tr>
            <tr>
              <td>
                Enabled:
              </td>
              <td>
                {{ form.enabled }}
              </td>
            </tr>
            <tr colspan=2>
          </table>
          <button id="submit-{{ form.instance.pk }}" class="thermostat-submit"
              type="button">
            Submit
          </button>
        </div>
      {% endfor %}
    </form>
  </body>
  <script>
    {% include "index.js" %}
  </script>
</html>
