{% load staticfiles %}

<!doctype html>
<html lang="us">
  <head>
    <meta charset="utf-8">
    <title>Pimostat</title>
    <link href="{% static "css/pimostat.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
  </head>
  <body>
    <h1>Pimostat</h1>
    <form action="/forms/update_thermostat" method="post">
      {% csrf_token %}
      {{ thermostat_formset.management_form }}
      {% for form in thermostat_formset %}
        {{ form.id }}
        <h2>{{ form.instance.name }}</h2>
        <table>
          <tr>
            <td>
              Current temperature ({{ form.instance.sensor.name }}): 
            </td>
            <td id="temperature-{{ form.instance.pk }}">
              {{ form.instance.sensor.temperature }}
            </td>
          </tr>
          <tr>
            <td>
              Replay actuated ({{ form.instance.relay.name }}):
            </td>
            <td id="actuated-{{ form.instance.pk }}">
              {{ form.instance.relay.actuated }}
            </td>
          </tr>
          <tr>
            <td>
              Desired temperature:
            </td>
            <td>
              {{ form.desired_temperature }}
            </td>
          </tr>
          <tr>
            <td>
              Upper deviation:
            </td>
            <td>
              {{ form.upper_deviation }}
            </td>
          </tr>
          <tr>
            <td>
              Lower deviation:
            </td>
            <td>
              {{ form.lower_deviation }}
            </td>
          </tr>
          <tr>
            <td>
              Enabled:
            </td>
            <td>
              {{ form.enabled }}
            </td>
          </tr>
        </table>
        <input id="submit-{{ form.instance.pk }}" class="thermostat-submit"
            type="button" value="Submit">
      {% endfor %}
    </form>
  </body>
  <script>
    {% include "index.js" %}
  </script>
</html>
